@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./components.css";

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Orbitron", sans-serif;
  background: url("/assets/images/background/background.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button:active {
  @apply outline-none;
}

button:focus {
  @apply outline-none;
}

.search-main {
  @apply w-11/12 m-auto pt-8 text-center;

  .main-title {
    color: #ff73e8;

    @apply font-semibold text-center;
  }

  #browser-input {
    font-family: "Lato", sans-serif;
    -webkit-transition: 1s; /* Safari */
    transition: 1s;

    @apply w-11/12 m-auto rounded-full my-6 text-gray-200 border-purple-400 px-4 py-2 border-2 outline-none bg-gray-100 bg-opacity-0;
  }

  #browser-input:hover {
    box-shadow: 0 0 5pt 1pt #be11c4;

    @apply text-purple-400;
  }

  #browser-input:focus {
    box-shadow: 0 0 5pt 1pt #be11c4;

    @apply text-purple-400;
  }

  #data-types-manager {
    @apply text-yellow-500 w-10/12 mx-auto text-left;

    #data-types-list {
      @apply flex flex-row-reverse flex-wrap mt-2;

      .yield-box {
        @apply ml-2;

        .limit-box {
          @apply inline-block;

          input {
            @apply bg-gray-100 bg-opacity-0 inline-block w-20 p-1 text-center;
          }
        }
      }
    }
  }
}
