<div ...attributes class="data-type-element">
    <span class="content">
        {{@type.name}}
    </span>
    {{#if this.searchAttributes.isOneDataTypeSelected}}
    {{else}}
    <button type="button" class="clear-button material-icons"
        {{on "click" (fn this.searchAttributes.removeDataType @type)}}>clear</button>
    {{/if}}
</div>